.cursorFollow{
    background: radial-gradient(circle, rgb(100 , 116 , 139 , 0.10) 10%, rgba(255, 255, 255, 0) 60%);
    position: fixed;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 1000px;
    height: 1000px;
    margin-top: -500px;
    margin-left: -500px;
}
